<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655529830447-5ruqnha8me5s47gqie50b5d3845a790q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655529830447-5ruqnha8me5s47gqie50b5d3845a790q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>655529830447-uu4op6ppbg4ivm0tdadlkl4i4bg2h9ke.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDpEVV3esgYH-0YkTbHcJGAk4LcDZycMMA</string>
	<key>GCM_SENDER_ID</key>
	<string>655529830447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.message-App</string>
	<key>PROJECT_ID</key>
	<string>messageapp-69c00</string>
	<key>STORAGE_BUCKET</key>
	<string>messageapp-69c00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655529830447:ios:18694b98c83736cccdfeda</string>
</dict>
</plist>